<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse:
}
th, td {
  padding: 15px;
}
</style>
  <body>
    <table style=width:"15%" align="justify"  >
  <tr>

    <th>ID</th>
    <th>NOMBRE</th>
  </tr>
  <tr>

    <td><p></p>

    {%for i in range(9)%}
    <p>{{i+1}}</p>
    {%endfor%}</td>

    <td><p></p>
    {%for i in range(9)%}
    <p>{{result[i]['_id']['NOMBRE']}}</p>
    {%endfor%}</td>
  </tr>



</table>



  </body>
</html>
